 @import "tailwindcss";
 
@keyframes dotFlash {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

.dot-flash::after {
  content: '...';
  animation: dotFlash 1s infinite steps(3, end);
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
 
